page-home {
	.important-title {
		font-weight: bold;
	}
	.higher {
		font-weight: bolder;
		color: #CC0000;
	}
	.high {
		font-weight: bold;
		color: #D22020;
	}
	.medium {
		color: #00A6D6;
	}
	.low {
		color: #00CD44;
	}
	.evenExist {
		/*nothing change*/
		color: #A2A2A2;
	}
	.center {
		text-align: center;
	}
}
